/node_modules
/public/hot
/public/storage
/public/.DS_Store
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history/*
*.DS_Store
public/*.DS_Store
/public/js/app.js
