@font-face {
    font-family: 'groboldregular';
    src: url('/fonts/public/grobold/grobold-webfont.woff2') format('woff2'),
    url('/fonts/public/grobold/grobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('/fonts/public/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('/fonts/public/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('/fonts/public/poppins/poppins-light-webfont.woff2') format('woff2'),
         url('/fonts/public/poppins/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('/fonts/public/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('/fonts/public/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'poppinslight';
    overflow: hidden;
}
.poppinsmedium{
    font-family: 'poppinsmedium';
}
h1,h2,h3{
    font-family: poppinsmedium;
}
.head_grobold{
    font-family: groboldregular;
    font-size: 4rem;
    text-shadow: 4px 5px 1px #FA8334;
}
.subhead_page{
    background-color: #FA8334;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 35px;
    box-shadow: 8px 8px 0px -4px #FFFFFF;
    -webkit-box-shadow: 8px 8px 0px -4px #FFFFFF;
    -moz-box-shadow: 8px 8px 0px -4px #FFFFFF;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
    border: none !important;
}

/*.hero-home:before {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    background-image: url(/assets/home-testimonial-spike-bg.svg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: 50%;*/
/*    content: "";*/
/*    z-index: 1;*/
/*}*/

#about-pasar-kerja {
    padding: 2rem 5rem 5rem 5rem;
}

.text-pasker {
    color: #0A8178;
}

.container-footer, .container-content-kiosk {
    max-width: 960px;
}

img.mascot-bottom {
    position: absolute;
    bottom: -20px;
    right: 10px;
    z-index: 5;
    height: 100%;
}

img.mascot-bottom-kiosk {
    height: 70%;
}
img.mascot-bottom-signage{
    z-index: 0 !important;
    height: 70%;
}

#mTime {
    color: #FFFFFF;
    font-size: 3.5rem;
    text-shadow: 4px 4px 0px #FA8334;

}

#mDate {
    font-size: 0.85rem;
    color: #FFFFFF;
}

.kiosk-btn-home {
    min-height: 400px;
    cursor: pointer;
}

.kiosk-btn-home:hover {
    background-color: #ebebeb;
}

.kiosk-btn-home i.bi {
    font-size: 8rem;
    color: #d34926;
}

.kiosk-btn-home i#offline {
    font-size: 8rem;
    color: #E0A800;
}

.text-orange-pasker {
    color: #d3a826;
}
.text-orange-pasker-light {
    color: #FA8334;
}

.text-red-pasker-light {
    color: #f64e4e;
}

.modal-kiosk .modal-footer {
    /* justify-content: center; */
}

.modal-kiosk input#phone.active{
    border: 1px solid #469278 !important;
    box-shadow: 10px 10px 0px -4px #469278;
    -webkit-box-shadow: 10px 10px 0px -4px #469278;
    -moz-box-shadow: 10px 10px 0px -4px #469278;
}

.modal-kiosk#onlineModal .input-group-prepend .input-group-text{
    background-color: #469278 !important;;
    color: #FFFFFF !important;
}

.blink_me {

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.btn-pasker-main {
    background-color: #d34926 !important;
    border: none !important;
}

#offlineModal .item-pelayanan {
    background-color: #FA8334;
    /* border-top: 2px solid #0A8178;
    border-bottom: 2px solid #0A8178; */
    cursor: pointer;
    border: 2px dotted #dfdfdf;
    color: #fff;

    /* display: inline-block;
    width: 30%;
    height: 100%;
    margin: 5px; */
    /* background-color: #555; */

    /* border-radius: 0.5rem; */
}

.modal-kiosk i.bi {
    font-size: 6rem;
}


.circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: white;
    margin: auto;
}


.span4 {
    width: 33.0%;
    height: auto;
    display: inline-block;
}


.span3 {
    width: 24.6%;
    height: auto;
    display: inline-block;
}


/*SIGNAGE*/

body#signage{
    /*background: #469278;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #38ef7d, #469278);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #38ef7d, #469278); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*!*max-height: 100%;*!*/
    /*!*overflow: hidden;*!*/

    /*  margin: 0px;*/
    /*  width: 100vw;*/
    /*  height;: 100vh;*/
    /*  background-color: #469278;*/
    /*  !*background-image:*!*/
    /*  !*   radial-gradient(ellipse farthest-corner at 80vw 15vh ,*!*/
    /*  !*    rgba( 250, 240, 128, 0.5) 5%, rgba( 250,240,128,0) 95%*!*/
    /*  !*);*!*/
    /*  background-attachment:fixed;*/
    overflow: hidden;
}


.glass {
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 0.3rem !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#signage .videoarea{
padding: 3rem;
}
#signage .background-orange{
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    background: rgba(250,131,52,0.95);
    color: #FFFFFF;
}

#signage .content-active{
    /*color: #fff;*/

    font-size: 3rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 105px;

}

#signage .header-content-active{
    border-top-left-radius: 0.3rem!important;
    border-top-right-radius: 0.3rem!important;
    font-size: 0.85rem;
}

#signage .background-red-pasker{
    background-color: #FFE882;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.9rem;
    color: #0a0a0a;
}

.blinking {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

.content-loket {
    font-size: 3.2rem;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}
.content-loket{
    min-height: 90px;
    font-weight: 500;
}

#registration_form label.error{
    font-size: 0.7rem;
    background-color: #d34926;
    padding: 6px 10px;
    margin-top: 5px;
}

.link-site a{
    color: #15406A;
    font-weight: 500;
    font-size: 0.9rem;
}


/*KIOSK CSS*/
.kiosk-container.hero-home-kiosk {
    /*background-image: url(/assets/hero-bg-home.png);*/
    /*background-size: cover;*/
    color: #fff;
    /*!*overflow: hidden;*!*/
    /*position: relative;*/
    min-height: 830px;
    background-color: #469278;
    background-image: none;
}

.kiosk-container #mDateKiosk{
    font-size: 1rem;
}
.kiosk-container #mTimeKiosk{
    font-size: 3rem;
    /*line-height: 0;*/
}
.kiosk-container .logo img{
    width: 290px;
}
.kiosk-container .tagline{
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-left: 2rem;*/
}
.kiosk-container .tagline h1{
    font-family: "poppinsbold";
    font-size: 5.7rem;
    padding-top: 1rem;


}
.kiosk-container .tagline span.tagline-child{
    font-family: "poppinslight";
    font-size: 2.5rem;
    letter-spacing: -0.04em;
    background-color: #074a43;
    /*padding-right: 10rem;*/
    padding: 0 2rem ;
    line-height: 1rem;
}
.kiosk-container .text-red-pasker{
    color: #eb2e10;
}
.kiosk-container .text-orange-pasker{
    color: #ffb44f;
}
.kiosk-container .text-running-container{
    background-color: #074a43;
    font-size: 1.3rem;
    overflow: hidden;
}
#text-running{
    padding-top: 10px;
}
#text-running span{
    margin-right: 2.4rem;
}
.running-text-area{
    margin-top: 4rem;
}
.button-area{
    font-size: 1.2rem;
}
#areaone-kiosk-container{
    position: relative;
}


/*.hero-home:before {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    background-image: url(/assets/home-testimonial-spike-bg.svg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: 50%;*/
/*    content: "";*/
/*    z-index: 1;*/
/*}*/

#jobiarea-kiosk-container{
    background-image: url(/assets/skyline.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 570px;
    position: relative;
    /*padding-top: 7rem;*/
    /*margin-top: -5rem;*/
    background-color: #FFFFFF;
    z-index: 0;
}
#areaone-kiosk-container:before{
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url(/assets/home-testimonial-spike-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    content: "";
    /*z-index: 1;*/
}

.tagline-fadein{
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'poppinsbold';
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #074a43;
  word-wrap: break-word;
    line-height: 2.5rem;
    position: absolute;

}
.tagline-item-red{
    background-color: #eb2e10;
}
.tagline-item-orange{
    background-color: #ffb44f;
}
.tagline-item-greenlight{
    background-color: #04776c;
}
#tagline-1{
    top:10%;
    left: 5%;
}

#tagline-2{
    top: 30%;
    left: 30%;

    animation-delay: 0.5s;
}
#tagline-3{
    top:50%;
    left:7%;
    animation-delay: 1s;
}
#tagline-4{
    top:70%;
    left: 30%;
    animation-delay: 1.5s;
}



/*.vertical-alignment-helper {*/
/*    display:table;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    pointer-events:none;*/
/*}*/
/*.vertical-align-center {*/
/*    !* To center vertically *!*/
/*    display: table-cell;*/
/*    vertical-align: top;*/
/*    pointer-events:none;*/
/*}*/
/*.modal-content {*/
/*    !* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it *!*/
/*    width:inherit;*/
/* max-width:inherit; !* For Bootstrap 4 - to avoid the modal window stretching full width *!*/
/*    height:inherit;*/
/*    !* To center horizontally *!*/
/*    margin: 0 auto;*/

/*    pointer-events:all;*/
/*}*/
.modal-dialog{
    margin-top: 40%;
}
#KioskBoard-VirtualKeyboard{
    height: 50%;
    /*background: rgba(227, 227, 227, 0.34) !important;*/
}
#KioskBoard-VirtualKeyboard .kioskboard-row-numpad{
    max-width: 50%;
}
.swal-modal{
    margin-top: -50%;
}


@media print {
     * {
        font-size: 40pt;
        font-family: 'Times New Roman';
    }

    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
    .to-print{
        display: block !important;
        width: 83mm;
        /*margin-top: 2mm;*/

    }
    .centered{
        text-align: center;
                align-content: center;
    }
        /* stop page from printing footer */
    header, footer, aside, form, … {
        display: none;
    }

    @page {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
    #print-el{
        /*display: block;*/
        width: 100%;
        margin-top: 10px;
    }
}
.to-print{display: none;}

